<mat-grid-list cols="4" rowHeight="250px" [gutterSize]="'20px'" class="matgrid">
  <mat-grid-tile *ngFor="let group of groups">
    <mat-card class="example-card">
      <mat-card-header>
        <button mat-button></button>
        {{group.name}}
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px" rowWidth="500px"  class="header">
          <mat-grid-tile [colspan]=1>
            <p>{{group.description}}</p>
          </mat-grid-tile>
          <mat-grid-tile [colspan]=1><button mat-button color="primary" class="edit"  [disabled]="!group.hasAdmin" (click)="onEdit(group.id)"><fa-icon [icon]="['fas','edit']"></fa-icon></button></mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
