<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Group Form</mat-card-title>
      <mat-card-subtitle>Fill below details to update a group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class = "formfill">
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()" #userForm="ngForm">
          <p>
            <mat-form-field appearance="filled">
              <input  matInput placeholder="Placeholder" [(ngModel)]='id' formControlName="id" hidden>
            </mat-form-field>
          <p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Placeholder" formControlName="name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Placeholder" formControlName="description">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Component</mat-label>
              <input matInput placeholder="Placeholder" formControlName="component">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Team</mat-label>
              <input matInput placeholder="Placeholder" formControlName="team">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Tribe</mat-label>
              <input matInput placeholder="Placeholder" formControlName="tribe">
            </mat-form-field>
          </p>
          <p>
            <input ngModel={{emailGlobal}} formControlName="updated_by" hidden>
          </p>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </div>
    </mat-card-content>
    <div mat-dialog-actions>
      <div class="example-button-row">

        <button mat-raised-button (click)="close()">Close</button>
      </div>
    </div>
  </mat-card>
</div>





