.main-div{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-card{
  width: 20vw;
}
.formfill{
  justify-content: center;
}

.mat-form-field{
  max-width: 200%;
  width: 100%;
}

mat-card-title{
  text-align: center;
}

mat-card-subtitle{
  text-align: center;
}
