<div class="main-div">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Card Form</mat-card-title>
    <mat-card-subtitle>Fill below details to create a card</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class = "formfill">
      <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="title "formControlName="title">
          </mat-form-field>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Placeholder" formGroupName ="description">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Original_url</mat-label>
            <input matInput placeholder="Placeholder" formControlName="original_url">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Expire_date</mat-label>
            <input matInput placeholder="Placeholder" formControlName="expire_date">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Created_date</mat-label>
            <input matInput placeholder="Placeholder" formControlName="created_date">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Updated_by</mat-label>
            <input matInput placeholder="Placeholder" formControlName="updated_by">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Suggested_by</mat-label>
            <input matInput placeholder="Placeholder" formControlName="suggested_by">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Team</mat-label>
            <input  matInput placeholder="Placeholder" formControlName="team">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Tribe</mat-label>
            <input matInput placeholder="Placeholder" formControlName="tribe">
          </mat-form-field>
        </p>
        <p>
          <button mat-raised-button color="primary"><input type="file" formControlName="picture" (change)="onFileSelect($event)" ></button>
        </p>
        <button mat-raised-button color="primary" type="submit" >Submit</button>
      </form>
    </div>
  </mat-card-content>

</mat-card>
</div>





